[jobdb]
type=SQL
table_def=jobModels.job_efi_web_orm
dbi=sqlite
db_name=tests/implementation_tests/testing.sqlite

[compute]
type=local
efi_config=/path/to/the/efi_db/config/file
output_dir=/path/to/the/general/output/directory
efi_db=/path/to/the/db/file
nf_config=/path/to/the/nextflow/config/file
template_dir=/path/to/dir/with/template/files
est_repo_path=/path/to/the/EST/repository
submit_commands=echo date,sbatch batch.sh,echo date
check_status_command=sacct -j {} -X --format=State,JobID,ExitCode,WorkDir%50 --noheader

[transportation]
transport_cmd=mv
;transport_cmd=scp
;transport_cmd=rsync
new_transport_strategy=/path/to/dir1,/path/to/dir2
finished_transport_strategy=/path/to/dir2,/path/to/dir1

