[jobdb]
type=SQL
dbi=sqlite
db_name=tests/implementation_tests/testing.sqlite

[compute]
type=local
efi_config=/path/to/the/efi_db/config/file
output_dir=/path/to/the/general/output/directory
efi_db=/path/to/the/db/file 				# or access info for a mysql database
nf_config=/path/to/the/nextflow/config/file
command_template_dir=/path/to/dir/with/template/files

[transportation]
transport_cmd="mv"
#transport_cmd="scp"
#transport_cmd="rsync"
transport_strategy=[
	{ 
	  "status": "new",
	  "destination1": "user@domain1:/path/to/dir",
	  "destination2": "user@domain2:/path/to/dir"
	},
	{ 
	  "Status": "finished", 
	  "destination1": "user@domain2:/path/to/dir"
	  "destination2": "user@domain1:/path/to/dir",
	}
]

