[jobdb]
type=SQL
table_def=jobModels.job_efi_web_orm
dbi=sqlite
db_name=tests/implementation_tests/testing.sqlite

[compute]
type=local
efi_config=/path/to/the/efi_db/config/file
output_dir=/path/to/the/general/output/directory
efi_db=/path/to/the/db/file
nf_config=/path/to/the/nextflow/config/file
template_dir=/path/to/dir/with/template/files
est_repo_path=/path/to/the/EST/repository

[transportation]
destination1=/path/to/dir1
destination2=/path/to/dir2

[strategies]
preparation_strategy_file=/some/path/here.py
execution_strategy_file=/some/path/here.py
transport_strategy_file=/some/path/here.py

